body {
    margin: 0px;
}

.content{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
}

.paddingtb {
    background-color: rgb(15, 54, 118);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.h62 {
    margin-left:1%;
    margin-top: 10px;
    width:50%;
}

.h34 {
    width:3%;
    height:42%;
    margin-top:2%;
    margin-left:2px;
}

.difw {
    margin: 2%;
    margin-top: 10px;
    height: 50px;
    border-bottom: 1px solid #E5E5E5;
}

.colqlan {
    display: inline-block;
    font-size: 1.4rem;
    color: rgb(15, 54, 118);
    font-weight: bold;
    margin-left: 0.8%;
}

.fw-n {
    display: inline-block;
    color: rgb(153, 153, 153);
    margin-left: 0.8%;
}

.biaoge{
    width:96%;
    text-align:center;
    margin-left:2%;
    margin-right:2%;
    border:1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.biaoge0{
    background-color: #F5F5F5;
    border:6px solid white;
    width:40%;
    display: flex;
    flex-direction: row;
    display: inline-flex;
    align-items: flex-start;
    padding-left:2%;
    padding-right:2%;
    border-radius:20px;
}

.tupian{
    width:25%;
    margin-left:4%;
    margin-right:4%;
    align-self: center;
}

.wenzi{
    width:40%;
    margin-left:4%;
    margin-right:4%;
    text-align:left;
}

.xiazai{
    width:20%;
    height:20%;
    align-self: center;
    border-color:white;
    background-color: white;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    flex-wrap: nowrap;
    border-radius:10px;
    color:#1890FF;
    
}

.xiazai:hover{
    background-color: #1890FF;
    color:white;
    cursor:pointer;
}

@media screen and (max-width: 853px) {
    .h34 {
        margin-top:2.6%;
    }
    .wenzi{
        font-size:0.6rem;
    }
    .xiazai{
        font-size:0.6rem;
        border-radius:5px;
    }
}
@media screen and (max-width: 430px) {
    .h34 {
        margin-top:3.5%;
    }
    .wenzi{
        font-size:0.4rem;
    }
    .xiazai{
        font-size:0.4rem;
        border-radius:5px;
    }
}
@media screen and (max-width: 430px) {
    .h34 {
        margin-top:3.5%;
    }
    .wenzi{
        font-size:0.4rem;
    }
    .xiazai{
        font-size:0.3rem;
        border-radius:5px;
    }
}

